@model IEnumerable<MvcTestApp.Models.Models.UsersModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/HomeTemplate.cshtml";
}

        <div class="container">

           
            <div class="menu">

                <ul class="nav nav-tabs">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Usuarios</a> 
                    </div>
            
                    <li class="active"> @Html.ActionLink("Ver todos", "Index")</li>
                    <li> @Html.ActionLink("Crear usuarios", "Create")</li>


                </ul>
            </div>


                <h2>Todos los usuarios</h2>


                <div class="col-sm-8">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td scope="col">
                                    <strong> ID</strong>
                                </td>
                                <td scope="col">
                                    <strong>Nombre</strong>

                                </td>

                                <td scope="col">
                                    <strong> Apellido</strong>
                                </td>
                                <td scope="col">
                                    <strong> Direccion</strong>
                                </td>
                                <td scope="col">
                                    <strong> Ciudad</strong>
                                </td>
                                <td scope="col"></td>
                                </td>
                                <td scope="col"></td>


                            </tr>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.personId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.city)

                                    </td>

                                    <!--
                                    <td>
                                        <form name="delete" method="post" action="/Users/Delete">
                                            @Html.Hidden("personId", item.personId)
                                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                                        </form>
                                    </td>-->
                                    <td>
                                        <form name="update" method="post" action="/Users/Update">
                                            @Html.Hidden("personId", item.personId)
                                            @Html.Hidden("firstName", item.firstName)
                                            @Html.Hidden("lastName", item.lastName)
                                            @Html.Hidden("address", item.address)
                                            @Html.Hidden("city", item.city)

                                            <input type="submit" value="Modificar" class="btn btn-default" />
                                        </form>
                                    </td>
                                </tr>


                            }

                        </table>
                    </div>
                </div>

            </div>
   